{% extends 'core/base.html' %}

{% block content %}

    <canvas id="grafico_transacoes"></canvas>
    <canvas id="grafico_investimentos"></canvas>
    <canvas id="grafico_bitcoins"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Código do gráfico das transações
        var ctx = document.getElementById('grafico_transacoes').getContext('2d');
        // ...

        // Código do gráfico dos investimentos
        var ctx2 = document.getElementById('grafico_investimentos').getContext('2d');
        // ...

        // Código do gráfico dos bitcoins
        var ctx3 = document.getElementById('grafico_bitcoins').getContext('2d');
        // ...
    </script>
{% endblock %}
